body.n{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,1fr);
    background-image: linear-gradient(to top, #FF5733, rgb(110, 255, 168));;
    column-gap: 0;
    row-gap: 0px;
    margin: 0px;
    
}
.t{
    grid-row-start:1 ;
    grid-row-end:2 ;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #ffffff;
    margin: 0px;
    flex: auto;
    justify-items: end;
    border-radius: 0px 0px 50px 50px;
}
#n{
    color: #303030;
    justify-self:start ;
    margin: 0px;
    font-size: 400%;
    font-family: sans-serif;
    text-shadow: 5px 2px #FF5733;
}
#u{
    text-align: center;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}
#hl{
    text-align: center;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
button{
    
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    border-color: #FF5733;
    border-style: solid ;
}
button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #FF5733;color: white;
    justify-self: end;
}
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* u spestfik*/
#t{
    grid-row-start:2 ;
    grid-row-end:3 ;
    color: rgb(0, 0, 0);
    text-align: start;
}
#c{
    grid-row-start:0 ;
    grid-row-end:2 ;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 100px;
    background-color: #ffffff;
    margin: 4px;
}
/* 404 spestfik*/

/* l  spestfik*/
body#l{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,1fr);
    background-image: linear-gradient(to top, #FF5733, rgb(110, 255, 168));;
    column-gap: 0;
    row-gap: 0px;
    margin: 0px;
}
#lt{
    grid-row-start:1 ;
    grid-row-end:1 ;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 100px;
    background-color: #ffffff;
    margin: 4px;
}
.li{ 
    grid-row-start:2 ;
    grid-row-end:2 ;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: #ffffff;
    text-align: center;
}
/* div inehål */
#la{
    grid-row-start:1 ;
    grid-row-end:1 ;
    grid-column-start:1 ;
    grid-column-end:6 ;
}

#ld{
    grid-row-start:2 ;
    grid-row-end:2 ;
    grid-column-start:1 ;
    grid-column-end:1 ;
}
#lsc{
    grid-row-start:3 ;
    grid-row-end:3 ;
    grid-column-start:1 ;
    grid-column-end:1 ;
}

#lit{
    grid-row-start:2 ;
    grid-row-end:2 ;
    grid-column-start:4 ;
    grid-column-end:4 ;
}
#lss{
    grid-row-start:3 ;
    grid-row-end:3 ;
    grid-column-start:4 ;
    grid-column-end:4 ;
}

#lr{
    grid-row-start:4 ;
    grid-row-end:4 ;
    grid-column-start:1 ;
    grid-column-end:1 ;
}
#lst{
    grid-row-start:5 ;
    grid-row-end:5 ;
    grid-column-start:1 ;
    grid-column-end:1 ;
}

#lc{
    grid-row-start:4 ;
    grid-row-end:4 ;
    grid-column-start:4 ;
    grid-column-end:4 ;
}
#lsk{
    grid-row-start:5 ;
    grid-row-end:5 ;
    grid-column-start:4 ;
    grid-column-end:4 ;
}