body{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,1fr);
    background-image: linear-gradient(to bottom, #FF5733, rgb(110, 255, 168));;
    column-gap: 0;
    row-gap: 0px;
    margin: 0px;
    
}
.t{
    grid-row-start:0 ;
    grid-row-end:2 ;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    flex: auto;
    justify-items: end;
    
}
#u{
    text-align: center;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}
#l{
    text-align: center;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
button{
    
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    border-color: #FF5733;
    border-style: solid ;
}
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #FF5733;color: white;
    justify-self: end;
}
