body{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,1fr);
    background-image: linear-gradient(to top, #FF5733, rgb(110, 255, 168));;
    column-gap: 0px;
    row-gap: 0px;
    margin: 0px;
    
}
h1{
    grid-row-start:0 ;
    grid-row-end:2 ;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 100px;
    background-color: #ffffff;
    margin: 4px;
}
textarea{
    grid-row-start:2 ;
    grid-row-end:3 ;
    color: rgb(0, 0, 0);
    text-align: start;

}
.b{
    grid-row-start:3 ;
    grid-row-end:3 ;
    color: rgb(0, 0, 0);
    text-align: start;
}